<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>

        <property name="hibernate.connection.url">
            jdbc:postgresql://ep-summer-silence-amt5cfva-pooler.c-5.us-east-1.aws.neon.tech/neondb?sslmode=require
        </property>

        <property name="hibernate.connection.username">neondb_owner</property>
        <property name="hibernate.connection.password">npg_Nk8X4jruydDK</property>

        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <mapping class="ginf.demosalle.model.Utilisateur"/>
        <mapping class="ginf.demosalle.model.Membre"/>
        <mapping class="ginf.demosalle.model.Abonnement"/>
        <mapping class="ginf.demosalle.model.Salle"/>
        <mapping class="ginf.demosalle.model.Coach"/>
        <mapping class="ginf.demosalle.model.Seance"/>
        <mapping class="ginf.demosalle.model.Reservation"/>

    </session-factory>
</hibernate-configuration>